@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

html{
    background-color: #181719;
    ;
}

.navbar-brand{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Crimson Pro', serif;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.5px;
    border: 1px solid #FFF;
    padding: 7px;
    cursor: pointer;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin: 0 40px;
    
}

.hamburger{
    background-color: transparent;
    color: #FFF;
    display: none;
    border: none;
    font-size: 1.2rem;
    padding: 1px 4px;
    cursor: pointer;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-ul li a{
    font-size: 1.1rem;
    display: inline-block;
    color: #FFF;  
    padding: 10px 20px;
    text-decoration: none; 
    font-family: 'Crimson Pro', serif;
}

.container{
    height: 82vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.left{
    margin-top: -40px;
    width: 30%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content-left{
    color: #FFF;
}

.h2-left{
    font-family: "Lora";
    font-weight: 400;
    font-size: 2.4rem;
    padding-bottom: 20px;
}

.para-left{
    font-family: "Montserrat";
    font-size: 0.9rem;
    width: 75%;
    font-weight: lighter;
}

.right{
    margin-top: -40px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    padding-top: 30px;
    display: flex;
    cursor: pointer;
}

.more:hover{
    transform: scale(1.04);
    transition: 0.4s ease-in-out;
}

.fas{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.photo1{
    height: 380px;
    width: 550px;
}

.profile-card{
    /* border: 1px solid white; */
    position: absolute;
    padding: 20px;
    background-color: #181719;
    margin-left: 220px;
    margin-top: -60px;
    z-index: 999;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.profile-header{
    display: flex;
}

.profile-desc{
    padding: 5px 20px 10px 18px;
    font-family: "Montserrat";
}

.profile-img{
    height: 40px;
    border-radius: 50%;
}

.profile-name{
    color: #FFF;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.profile-post{
    color: gray;
    font-size: 0.7rem;
}

.description{
    color: #FFF;
    width: 74%;
    font-family: "Lora";
    letter-spacing: 0.8px;
    font-size: 0.95rem;
    margin-top: 10px;
}

footer{
    text-align: center;
    color: #A9A9A9;
    font-size: 0.82rem;
    font-family: "Montserrat";
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }

    .content-left{
        width: 100%;
        margin-top: -50px;
        margin-left: -100px; 
    }
    .left{
        width: 100%;
    }
    .h2-left{
        width: 130%;
    }
    .para-left{
        width: 100%;
    }
    .right{
        padding: 0;
    }
    nav{
        width: 100%;
        margin: 10px;
        padding: 10px;
    }

    .nav-ul{
        display: none;
        width: 100%;
        margin-top: 10px;
        /* flex-direction: column; */
    }

    .nav-ul.show{
        display: flex;
    }

    .profile-card{
        margin-left: 42px;
    }
    .photo1{
        height: 300px;
        width: 360px;
    }
    .content-right{
        margin-bottom: 50px;
    }
    .hamburger{
        display: block;
        font-size: 1.5rem;
        padding-right: 15px;
    }
    footer{
        position: absolute;
        top: 97%;
        left: 19%;
    }
}

